.square {
  width:200px;
  height:200px;
  margin-bottom:60px;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container {
  max-width: 1440px;
  margin:auto;
}
.red {
  background: red;
}
.green {
  background: green;
}
.blue {
  background: blue;
}
.yellow {
  background: yellow;
}
